/040_Yoga Ramadhani.docx
/08 - Panduan UCP 2 Questionnaire 2025-2026.pdf
/11UCP - 4 Rekayasa kebutuhan.docx
/20250140040_UCP-3.rtf
/3 MIND_Data Planning.rtf
/3 MIND_LAPORAN_KUESIONER.docx
/A_040_YOGA RAMADHANIcmd.rtf
/A_040_Yoga_Ramadhani.rtf
/BAB 14 - Requirement Analysis.pdf
/BACKGROUND MATAF TEKNIK 2025.png
/c++
/Certificate
/Certificate-of-Completion-Introduction-to-Information-Security.pdf
/Command_Line_Labtex.rtf
/Custom Office Templates
/DAMPAK PENGGUNAAN GADGET DAN SOSIAL MEDIA.docx
/Data_Planning_RK_3MIND_REVISI1.docx
/Data_Planning_RK_Interview[1].pdf
/Decision & Branching Structure.rtf
/desktop.ini
/Downloads - Shortcut.lnk
/Essay Novel Negeri 5 Menara.docx
/HASIL TRANSCIBING WAWANCARA.rtf
/hasil_kelulusan1.pdf
/IMG20170817215401.jpg
/IP Addressing tugas.docx
/KingsoftData
/KUIS_.docx
/KUIS_DTI.rtf
/Laporan Praktek Rekayasa Kebutuhan fix.docx
/Laporan Praktek Rekayasa Kebutuhan.rtf
/LAPORAN UCP 2 KUESIONER.rtf
/MATERI RUKUN ISLAM.rtf
/panitia dan peserta mataf teknik.docx
/panitia dan peserta.docx
/panitia dan peserta.pdf
/PERANCANGAN_APLIKASI_PEMETAAN_POTENSI_MAHASISWA_BERBASIS_MOBILE_UNTUK_PENINGKATAN_POTENS REVISII[1][1].rtf
/PERANCANGAN_APLIKASI_PEMETAAN_POTENSI_MAHASISWA_BERBASIS_MOBILE_UNTUK_PENINGKATAN_POTENSI[1].rtf
/PKL.pdf
/PointBlank
/PSEUDOCODE.rtf
/Rainmeter
/resume_ft[1].docx
/Review_Buku_Yoga_Ramadhani.rtf
/RUKUN IMAN PEMBELAJARAN MUBALIGH HIJRAH.rtf
/SERTIFIKAT UKOM.pdf
/Sertifikat.pdf
/Templat Office Kustom
/Template Foto dengan panitia mataf teknik 2025[1 edit.docx
/tes.py
/test a
/tugas a3.docx
/tugas foto bersama panitia.docx
/tugas foto bersama peserta dan panitia (1).docx
/tugas foto bersama peserta dan panitia.docx
/Tugas pancasila.rtf
/TUGAS UCP FISIKA.rtf
/Tugas UNIRES Yoga Ramadhani.rtf
/tugas_foto_bersama_panitia[2].pdf
/Twibbon MATAF UMY 2025.mp4
/UCP 2_DTI.rtf
/UCP Data Presentation_A_3 MIND.docx
/UCP Video Presentation_A_3 MIND.mp4
/vertopal.com_UCP Data Presentation_A_3 MIND.docx
/VGA.docx
/WhatsApp Image 2025-11-26 at 11.29.32_169d5fad.jpg
/WhatsApp Image 2025-11-26 at 11.29.32_3d254395.jpg
/WhatsApp Image 2025-11-26 at 11.29.32_6da10c11.jpg
/WhatsApp Image 2025-11-26 at 11.29.33_2d83c608.jpg
/WhatsApp Image 2025-11-26 at 11.29.33_458f041c.jpg
/WhatsApp Image 2025-11-26 at 11.29.33_489e4da2.jpg
/WhatsApp Image 2025-11-26 at 11.29.33_ade0415b.jpg
/Zoom